<nav>
  <div class="container">
  <div id="r">
  <li><img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Letter_r.svg/1200px-Letter_r.svg.png" alt=""></li>
  </div>
  <div>
    <input id="search_home" type="search" name="" placeholder="Search Rumblr">
  <div>
  </div>
</nav>

<section id="home-background">
  <h2>rumblr</h2>
  <p id="rumblr">Welcome to rumblr.</p>
  <p id="rumblr">Get ready to blog.</p>
  <form action="/signup">
  <input id="signup" type="submit" value="Signup Now"><br><br>
  </form>
  <form action="/login">
  <input  id="login" class="submit" type="submit" value="Log In">
  </form>
</section>
