body {
  background-image: url("https://media.istockphoto.com/videos/multicolored-motion-gradient-background-video-id914165508?s=640x640");
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  display: grid;
  grid-template-columns: 40px 600px 600px;
  grid-column-gap: 10px;
}

#search {
  margin-top: 1%;
}

img {
  width: 30px;
  height: 30px;
}

nav {
  background-color: transparent;
  text-align: left;
  font-family: 'Acme', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
  height: 47px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .5%;
}

nav li {
  overflow: hidden;
  list-style-type: none;
  display: inline-block;
  color: black;
  padding-bottom: 10%;
}

#nav_search {
  width: 400px;
  height: 30px;
  margin-bottom: 100px;
  border: .01px solid transparent;
  border-radius: 5px;
  background-color: skyblue;
  margin-left: 1.5%;
  padding-left: 1%;
  opacity: .5;
}

#pictures {
  margin-left: 110%;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px;
  grid-column-gap: 20%;
  margin-top: 1%;
}

#r {
  margin-top: 1%;
  margin-left: 1%;
}

#logo {
  width: 30px;
  height: 30px;
}

#line {
  background-color: black;
  width: 100%;
  padding-top: .13%;
}

.container {
  display: inline-flex;
}

input {
  text-align: left;
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: 0px solid transparent;
  margin-left: 38%;
  background-color: lightblue;
}

#home-background {
  margin-top: 8%;
}

h2 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 1.5%;
}

#login {
  text-align: center;
  background-color: white;
  font-weight: bold;
}

#signup {
  text-align: center;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}

#incorrect {
  margin-left: 39.5%;
  font-size: 18px;
  font-weight: bold;
}

#rumblr {
  text-align: center;
}

#search_home {
  width: 520px;
  height: 40px;
  background-color: white;
  opacity: 0.3;
  border-radius: 2px;
  margin-left: 1.5%;
  padding-left: 1%;
}

#register {
  padding-left: 1%;
  color: black;
  background-color: aliceBlue;
  margin-left: 25%;
  width: 600px;
}


#register_submit {
  width: 100px;
  text-align: center;
  font-weight: bolder;
  margin-left: 47%;
  background-color: dodgerblue;
  color: white;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 3%;
}

.account_container {
  width: 50%;
  height: 600px;
  background-color: aliceBlue;
  border-radius: 3px;
  margin-left: 11%;
  margin-top: 2.5%;
}

#logout {
  width: 100px;
  text-align: center;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid black;
  color: white;
}

h4 {
  font-size: 25px;
  margin-left: 3%;
  padding-top: 3%;
}

#break {
  color: grey;
  opacity: .4;
  margin-left: 3%;
  margin-top: .2%;
}

p {
  margin-left: 2%;
}

label {
  margin-left: 2%;
}

.account-logout {
  display: grid;
  grid-template-columns: 70px 70px;
}

#logout_id {
  margin-left: 550%;
  margin-top: 50%;
}

#account_id {
  margin-left: 20%;
}

.container_posts {
  width: 45%;
  height: 600px;
  background-color: aliceBlue;
  margin-left: 15%;
  border-radius: 4px;
}

#title {
  font-size: 25px;
  font-weight: bold;
}

#image_url {
  width: 100%;
  height: 400px;
}

#signature {
  padding-top: 2%;
  font-weight: bold;
}

#delete {
  margin-left: 50%;
  margin-top: 2%;
  border-radius: 2px;
  border: .2px;
  padding-top: .8%;
  padding-bottom: .8%;
  padding-left: .8%;
  padding-right: .8%;
  background-color: red;
  color: white;
}

.form-popup {
  margin-right: 52%;
}

#form_title {
  padding-left: .2%;
  height: 20px;
  width: 500px;
  background-color: whitesmoke;
}

#form_image {
  padding-left: .2%;
  height: 20px;
  width: 500px;
  background-color: whitesmoke;
}
#myForm, #imageForm, #quoteForm  {
  display: none;
}
#form_content {
  padding-left: .2%;
  height: 150px;
  width: 500px;
  background-color: whitesmoke;
}

#form_submit, #close_button, #post_button, #image_button, #quote_button{
  width: 90px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  text-align: center;
  font-weight: bold;
}

#close_button{
  margin-left: 2%;
  background-color: dodgerblue;
  color: white;
}

#post_button {
  margin-top: .5%;
  margin-left: 2%;
  background-color: darkorange;
  color: white;
}

#image_button {
  margin-top: .5%;
  margin-left: 13.5%;
  background-color: indigo;
  color: white;
}

#quote_button {
  margin-top: .5%;
  margin-left: 2%;
  background-color: dodgerblue;
  color: white;
}

#delete {
  text-align: center;
}
