<nav>
  <div class="container">
  <div id="r">
  <li><img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Letter_r.svg/1200px-Letter_r.svg.png" alt=""></li>
  </div>
  <div id="search">
  <input id="nav_search" type="text" name="" placeholder="Search Rumblr">
  </div>
  <div id="pictures">
    <li><a href="/"><img id="home" src="https://image.flaticon.com/icons/png/512/69/69524.png"  title="Home"></a></li>
    <li><a href="#"><img id="explore" src="https://png.pngtree.com/svg/20170720/3fb9c5ed9d.svg" title="Explore"></a></li>
    <li><a href="account"><img id="account" src="https://png.pngtree.com/svg/20170817/f5a6df7d9c.svg" title="Account"></a></li>
    <li><a href="#"><img id="post" src="https://cdn4.iconfinder.com/data/icons/actions-2/24/pencil-square-512.png" title="Create Post"></a></li>
  </div>
  </div>
</nav>
<section id="home-background">
  <h2 id=rumblr>rumblr</h2>
  <form  action="/login" method="post">
  <label id="incorrect">Incorrect Username or Password</label><br><br>
  <input type="text" name="username" placeholder="Username"><br><br>
  <input type="password" name="password" placeholder="Password"><br><br>
  <input id="login" class="submit" type="submit" value="Log In">
  </form>
</section>
