<nav>
  <div class="container">
  <div id="r">
  <li><img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Letter_r.svg/1200px-Letter_r.svg.png" alt=""></li>
  </div>
  <div>
    <input id="search_home" type="search" name="" placeholder="Search Rumblr">
  <div>
  </div>
</nav>

<h3>Join Rumblr Now:</h3>
  <form  id="register-form" action="/signup" method="post">
    <input id="register" type="text" name="first_name" placeholder="First name" required><br><br>
    <input id="register" type="text" name="last_name" placeholder="Last Name" required><br><br>
    <input id="register" type="date" name="dob" required><br><br>
    <input id="register" type="email" name="email" placeholder="Email Address" required><br><br>
    <input id="register" type="text" name="username" placeholder="Username" required><br><br>
    <input id="register" type="password" name="password" placeholder="Password" required><br><br>
      <input id="register_submit" type="submit">
  </form>
